[submodule "CarbonExplorer"]
	path = CarbonExplorer
	url = https://github.com/facebookresearch/CarbonExplorer.git
[submodule "ACT"]
	path = ACT
	url = https://github.com/facebookresearch/ACT.git
[submodule "CATransformers"]
	path = CATransformers
	url = https://github.com/facebookresearch/CATransformers.git
